.card-samokat .cards {
    background-image: url(./images/6V7A6493\ 1.png);
    background-repeat: no-repeat;
    background-size: 270px;
}
.card-samokat .cards .btn-icon {
    padding-bottom: 0px 0px 100px
}
.foto{
    background-image: url(./images/Ellipse\ 29.png);
    background-repeat: no-repeat;
    margin-left: 69px;
}
.photo {
    background-image: url(./images/Ellipse\ 29.png);
    background-repeat: no-repeat;
    margin-left: 115px;
     
}
 .electro {
    background-image: url("./images/Rectangle\ 161.png");
    background-repeat: no-repeat;
    margin-top: 100px;
}



 
 