@import "../components/footer";
@import "../components/buttons";
@import "../components/cart";
@import "../components/elements";
@import "../components/forms";

.container-fluid {
    width: 100%;
    min-height: 100vh;

    nav {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;

        .navbar input {
            overflow: hidden;
        }

        .menu {
            display: flex;
            gap: 30px;
            color: gray;
            padding-top: 20px;
            padding-left: 60px;
        }

        .menu a {
            color: gray;
            font-size: 20px;
        }

        .menu i {
            font-size: 20px;
        }

        .call {
            display: flex;
            gap: 20px;
            padding-right: 50px;
            padding-top: 20px;
        }

        .call a {
            color: black;
            font-size: 20px;
        }

        .call i {
            padding-top: 4px;
            font-size: 20px;
            background-color: #fff;
        }

    }

    .navbar {
        padding-top: 20px;
        display: flex;
        gap: 50px;
        padding-left: 60px;
    }

    .navbar button {
        width: 120px;
        height: 30px;
        background: #6F73EE;
        margin-top: 6px;
        color: #fff;

    }

    .navbar button:hover {
        border: 1px solid #6F73EE;
        background-color: white;
        transition-duration: .6s;
        color: black;
    }

    .navbar input {
        padding-left: 40px;
        border: 2px solid #6F73EE;
        width: 600px;
        height: 40px;
        color: #5D6C7B;
    }

    .navbar>i {
        padding-left: 12px;
        gap: none;
        width: 40px;
        height: 40px;
        font-size: 15px;
        padding-top: 10px;
        background: #6F73EE;
        color: white;
        border-radius: 5px;
    }

    .navbar .img {
        height: 30px;
        display: flex;
        padding-top: 16px;
    }

    .navbar .img i {
        padding-left: 14px;
    }

    .navbar .img p {
        padding-left: 10px;
        padding-bottom: 0;
    }

    header {
        width: 100%;
        height: 100vh;

        .magazine {
            margin-top: 30px;
            padding-top: 20px;
            padding-left: 50px;
            display: flex;

            width: 100%;
            height: 10vh;
            background: #F4F7FB;


        }

        .magazine a {
            color: black;
            font-size: 15px;
            font-weight: 700;


        }

        .magazine img {
            width: 30px;
            height: 24px;
            color: white;
        }
    }

    footer {
        width: 100%;
        min-height: 100vh;
        input {
            border: none;
            color: white;
            width: 410px;
            height: 53px;
            background: #ffffff33;
        }
    }
}